body {
  overflow-x: hidden;
}

.slideshow_container {
  background-color: beige;
  display: inline-flex;
}

.image_wrapper {
  height: 80vh;
  width: 200px;
  overflow: hidden;
  text-align: center;
}

.image_wrapper img {
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
}
