.sandwich_container {
  width: 49px;
  height: 49px;
  position: sticky;
  top: 9vh;
  left: 90vw;
  z-index: 99;
  mix-blend-mode: difference;
  border-radius: 100%;
}

.sandwich_container.background_sandwich {
  background-color: black;
}

.line1,
.line2 {
  width: 30px !important;
  height: 3px;
  border-radius: 25px;
  transition: 1s all cubic-bezier(0.19, 1, 0.22, 1);
}

.line1 {
  position: relative;
  top: 19px;
  left: 0px;
  transition: 1s all cubic-bezier(0.19, 1, 0.22, 1);
}

.line2 {
  margin-top: 5px;
  position: relative;
  top: 19px;
  left: 0px;
  transition: 1s all cubic-bezier(0.19, 1, 0.22, 1);
}

.sandwich_wrapper.move {
  transform: translateX(-5px);
  transition: 1s all cubic-bezier(0.19, 1, 0.22, 1);
}

.line1.black {
  background-color: black;
  transition: 1s all cubic-bezier(0.19, 1, 0.22, 1);
}

.line2.black {
  background-color: black;
  transition: 1s all cubic-bezier(0.19, 1, 0.22, 1);
}

.line1.clicked {
  transform: rotate(45deg) translate(6px, 0px);
  transition: 1s all cubic-bezier(0.19, 1, 0.22, 1);
}

.line2.clicked {
  transform: rotate(-45deg) translate(6px, 0px);
  transition: 1s all cubic-bezier(0.19, 1, 0.22, 1);
}

.blur {
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  color: gray;
  z-index: 3;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: rgba(0, 0, 0, 0.6);
}

.sideBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 45vw;
  height: 100vh;
  background-color: #f4edf5;
  display: flex;
  z-index: 4;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

.social {
  font-size: 16px;
  display: flex;
  font-weight: 600;
  flex-direction: column;
}

.sidebar_menu_title,
.sidebar_social_title {
  font-size: 15px !important;
  color: gray;
  font-weight: 500;
  margin-bottom: 25px;
}

.social_link {
  margin-top: 10px;
  margin-bottom: 5px;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.social_link:hover {
  transform: scale(1.2);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav_item1,
.nav_item2,
.nav_item3 {
  font-size: 44px;
  font-weight: 500;
  overflow: hidden;
  transition: 1s all cubic-bezier(0.19, 1, 0.22, 1);
}
.item_wrapper1,
.item_wrapper2,
.item_wrapper3 {
  margin-top: 30px;
  height: 46px;
  overflow: hidden;
  transition: 1s all cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 5;
}

.translate {
  transform: translateY(-50px);
  transition: 1s all cubic-bezier(0.19, 1, 0.22, 1);
}

@media only screen and (max-width: 700px) {
  .sideBar {
    width: 100vw;
    overflow: hidden;
  }

  .sandwich_container {
    top: 2vh;
    left: 90vh;
  }
}

.social_link:hover,
.item_wrapper1:hover,
.item_wrapper2:hover,
.item_wrapper3:hover {
  cursor: pointer;
}
