.cursor {
  width: 2rem;
  height: 2rem;
  background-color: white;
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  transition-property: background, transform;
  transform-origin: 50% 50%;
  overflow: hidden;
  mix-blend-mode: difference;
  z-index: 10;
}

@keyframes borderAnimate {
  0%,
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }

  25%,
  75% {
    border-radius: 64% 36% 72% 28% / 35% 60% 40% 65%;
  }

  50% {
    border-radius: 46% 54% 38% 62% / 66% 38% 62% 34%;
  }
}

.cursor.imageHover {
  transform-origin: 60% 60%;
  background-image: url("./Asset.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(4);

  mix-blend-mode: normal;
}

.nav_items_grow {
  transform: scale(3);
}

.cursor.title_grow {
  /* animation: borderAnimate 6s linear infinite; */
  background-color: white;

  transform: scale(10);
  mix-blend-mode: difference;
  background-image: none;
}

.cursor.advertisments {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./ads.gif");
  border: none;
}

.cursor.brands {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./brands.gif");
  border: none;
}

.cursor.websites {
  mix-blend-mode: difference;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./websites.gif");
  border: none;
}

.sandwitch_container {
  width: 37px;
  height: 21px;
  position: sticky;
  top: 83px;
  left: 78vw;
}

.line1,
.line2 {
  width: 100%;
  background-color: white;
  height: 3px;
  border-radius: 25px;
}

.line1 {
  margin-top: 9px;
}

.line2 {
  margin-top: 5px;
}

@media only screen and (max-width: 700px) {
  .cursor {
    display: none;
  }
}
